.rounded {
    max-width: 250px;
    border-radius: 50%;
    align-items: center;
}

.vision {
    width: 50%;
}

.vision-div {
    display: flex;
    justify-content: center;
}

#mmm {
    margin-bottom: 100px;
}

#contact form input,
#contact form textarea {
    color: black;
}

.process-grids .w-img {
    max-width: 500px;
    min-height: 50%;
    display: flex;
    justify-content: center;
}